.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;
}

.App > div {
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.btns > button {
  height: 40px;
  margin: 0 20px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.client {
  font-size: 23px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
